.restaurant
    +flex-column
    padding: 20px

    a
        +flex-center
        margin-bottom: 20px

    .fiche
        +size-w-h(100%,250px)
        position: relative
        border-radius: $border-radius-fiche
        background-color: $background-color-fiche
        +box-shadow

        img
            +size-w-h(100%,68%)
            object-fit: cover
            border-radius: $border-radius-img

        .fiche-new
            position: absolute
            +size-w-h(80px,29px)
            top: 10px
            right: 10px
            background-color: $background-color-new
            color: $color-text-new
            border-radius: $border-radius-new
            +flex-center
            font-size: $fs14
            font-weight: bold


    .separation-heart
        +flex-center-between
        padding: 0 20px

        h3
            font-size: $fs18
            margin-bottom: 0

        p
            font-size: $fs17
            margin-top: 0

        .fa-heart
            font-size: $fs22
            margin-right: 5px

        .far.fa-heart
            position: absolute
            right: 20px
            &:hover + .fas.fa-heart
                animation: heart-grow-in 400ms ease forwards

        .fas.fa-heart
            color: transparent 
            background: linear-gradient(to bottom, $color-button-p 25%, $color-button-s 100%)
            background-clip: text
            z-index: 2
            &:not(:hover)    
                animation: heart-grow-out 400ms ease forwards


            
        